<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Board</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div class="board-page">
			<div class="board">
				<h1>유저</h1>
				<% if(typeof data != 'undefined'){ %>
				<div align="right"><%= data.user_name%> 회원</div>
                <div class="user-form">
					<input id="writer" type="hidden" value="<%= data.login_id%>"/>
                    <input id="user" type="hidden" value="<%= locals.login_id%>"/>
                    <table class="title">
                        <tr>
                            <th width="10%">번호</th>
                            <th width="10%">아이디</th>
                            <th width="10%">이름</th>
                            <th width="20%">이메일</th>
                            <th width="40%">생성일자</th>
                        </tr>
                    </table>
                    <table class="content">
                        <tr>
                            <td width="10%"><input id="uid" type="text" value="<%= data.uid%>" disabled style="width:100%"/></td>
                            <td width="10%"><input id="login_id" type="text" value="<%= data.login_id%>" style="width:100%" disabled/></td>
                            <td width="10%"><input id="user_name" type="text" value="<%= data.user_name%>" style="width:100%"/></td>
                            <td width="20%"><input id="email" type="email" value="<%= data.email%>" style="width:100%"/></td>
                            <td width="40%"><input id="cdate" type="text" value="<%= data.cdate.toISOString().slice(0,10);%>" style="width:100%" disabled /></td>
                        </tr>
                    </table>
                <% } %>
                </div>
				<div align="right">
                    <button id="btn_board_update">수정</button>
                    <button id="btn_board_delete">삭제</button>
                    <button id="btn_user_list">목록</button>
                </div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="/javascripts/userList.js"></script>
	</body>
</html>